# Applied Data Science and Machine Intelligence
## A program by IITM and TalentSprint
### Practice Notebook: Data Wrangling (Ungraded)

## Learning Objectives

At the end of the experiment, you will be able to :

* load the dataframe using pandas
* perform various operations in the dataframe like:
     * renaming the columns,
     * indexing and data retrieval (both column wise and row wise),
     * drop and add a columns in the dataframe,
     * integration of datasets,
     * data cleaning,  
     * data tansformation operations like standardization, label encoding, feature scaling, etc,
     * find the correlation among different features of dataset.

#### Exercise 1: Loading the data using Dataframe

In [ ]:
# pandas
import pandas as pd
# numpy
import numpy as np

Dataset is chosen from the [UCI repository](http://archive.ics.uci.edu/ml/datasets/Forest+Fires)

#### Dataset Description

#### **Forest Fires Dataset**
1. Number of Instances: 517
2. Number of Attributes: 13
3. Attribute Information:
    
      i. X - x-axis spatial coordinate within the Montesinho park map: 1 to 9

      ii. Y - y-axis spatial coordinate within the Montesinho park map: 2 to 9

      iii. month - month of the year: 'jan' to 'dec'

      iv. day - day of the week: 'mon' to 'sun'
      
      v. FFMC - FFMC index from the FWI system: 18.7 to 96.20

      vi. DMC - DMC index from the FWI system: 1.1 to 291.3
      
      vii. DC - DC index from the FWI system: 7.9 to 860.6

      viii. ISI - ISI index from the FWI system: 0.0 to 56.10
     
     ix. te mp - temperature in Celsius degrees: 2.2 to 33.30
      
      x. RH - relative humidity in %: 15.0 to 100
      
      xi. wind - wind speed in km/h: 0.40 to 9.40
      
      xii. rain - outside rain in mm/m2 : 0.0 to 6.4
      
      xiii. area - the burned area of the forest (in ha): 0.00 to 1090.84

In [ ]:
# download the data
!wget -qq https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv

In [ ]:
df = pd.read_csv('forestfires.csv')
# display first 5 rows of the dataset
df.head()

In the above dataframe, first row contains the duplicate headers, skip the header using `skiprows`

In [ ]:
# using pandas read the csv file
df = pd.read_csv('forestfires.csv',skiprows=1)
df.head()

#### Exercise 2: Rename the columns

Based on the dataset attributes, we will rename RH column to Relative Humidity and other columns

In [ ]:
# rename the columns
df = df.rename(columns = {'RH':'Relative Humidity', 'X':'X-axis', 'Y':'Y-axis'})
df.head()

#### Exercise 3: Indexing and data retrieval

In [ ]:
# setting temp as index column
df.set_index("temp", inplace = True)
df.head()

Earlier the index is temp column, it can be removed by resetting the index.

In [ ]:
# resetting index
df.reset_index(inplace = True)
df.head()

Retrieve column-wise  data from the dataframe

In [ ]:
# retrieving columns
X1 = df["wind"]
print(X1)

In [ ]:
# retrieving multiple columns
X2 = df[["wind", "rain", "area"]]
print(X2)

`loc` is label-based, which means that you have to specify rows and columns based on their row and column labels.

syntax: ` loc[row_label, column_label]`

In [ ]:
# retrieving rows by loc method
rows_1 = df.loc[[4,5,6,7,8,9,10],'temp']
print(rows_1)

`iloc` is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).

syntax: `iloc[row_position, column_position]`

In [ ]:
# retrieving data using integer location
sub_data = df.iloc[0:10,:3]
sub_data

Index of a dataframe

In [ ]:
# start the index from 1
df.index = range(1,len(df)+1)
df

#### Exercise 4: Drop the columns

* Identify the irrelevant columns and drop

day and month can be added into one single column by dropping

In [ ]:
# new column date
df['date'] = df['day']+", "+df['month']
df

In [ ]:
# drop columns 
df.drop(["day",'month'], axis = 1, inplace=True)
df.head()

#### Exercise 5: Data Integration

Create the two dataframes representing different information and combine them as one dataframe

In [ ]:
# Students dataframe
df1 = pd.DataFrame({"Name": ["Aman", "Joy", "Vinay", "Jack", "Rita", "Robin", "Sam"], 
                    "Rollno": [1, 2, 3, 4, 5, 6, 7]})
df1

In [ ]:
# Marks dataframe
df2 = pd.DataFrame({"Rollno": [1, 2, 3, 4, 5, 6, 7],
                    "Maths": [40, 50, 30, 60, 82, 74, 25],
                    "English": [90, 84, 48, 64, 45, np.nan, 46],
                    "Science": [66, 54, 20, np.nan, 90, 48, 28]})
df2

Merge both the dataframes side by side, as they are representing different information with common identifier `Rollno`

In [ ]:
# Merge df1 and df2 on the 'Rollno' and 'Roll No' columns
df_merge = pd.merge(df1, df2, on=['Rollno'])
df_merge

To know more about other merge operations, click [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [ ]:
# Combine two dataframes along columns
df_concat = pd.concat([df1, df2],axis=1)
df_concat

To know more about other concat operations, click [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html).

#### Exercise 6: Data Cleaning

In [ ]:
# Check for missing values
df_merge.isna()

In [ ]:
# Count missing values
df_merge.isna().sum()

In [ ]:
# Show the mean of each column
df_merge.mean()

In [ ]:
# Filling missing values with the mean value of that column
df_filled = df_merge.fillna(df_merge.mean())
df_filled

#### Exercise 7: Data Transformation

Create a Total marks column and identify the Result based on the marks

In [ ]:
# Add 'Total' marks column 
df_filled["Total"] = df_filled.iloc[:, -3:].sum(axis=1)
df_filled

In [ ]:
# Add 'Result' column
for i in range(len(df_filled)):
    # consider above 35% as pass out of total 300 marks
    if df_filled.loc[i, "Total"] > (0.35 * 300):
        df_filled.loc[i, "Result"] = "Pass"
    else:
        df_filled.loc[i, "Result"] = "Fail"
df_filled

**LabelEncoder:** Sklearn provides a very efficient tool for encoding the levels of categorical features into numeric values. LabelEncoder encode labels with a value between 0 and n_classes-1 where n is the number of distinct labels. If a label repeats it assigns the same value to as assigned earlier.

In [ ]:
# Label encoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_filled["Result"])
label = le.transform(df_filled["Result"])
df_filled["Result label"] = label
df_filled

To know more about LabelEncoder, click [here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html).

**Feature Scaling:** It is a step of Data Pre Processing which is applied to independent variables or features of data. It basically helps to normalise the data within a particular range. Sometimes, it also helps in speeding up the calculations in an algorithm.

To know more about StandardScaler, click [here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

In [ ]:
# StandardScaler from sklearn
from sklearn.preprocessing import StandardScaler

df_scaled_sc = df_filled.copy()

#defining the StandardScaler variable
sc = StandardScaler()
sc.fit(df_scaled_sc[["Maths", "English", "Science"]])

# using .transform to apply StandardScaler operation 
scaled = sc.transform(df_scaled_sc[["Maths", "English", "Science"]])
df_scaled_sc[["Maths_scaled_StandardScaler", "English_scaled_StandardScaler", "Science_scaled_StandardScaler"]] = scaled
df_scaled_sc

To know more about MinMaxScaler, check this [link](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html)

In [ ]:
# MinMaxScaler from sklearn
from sklearn.preprocessing import MinMaxScaler

df_scaled_mms = df_filled.copy()

mms = MinMaxScaler()
# transform features by scaling each feature to a given range e.g. [0,1]
mms.fit(df_scaled_mms[["Maths", "English", "Science"]])

scaled = mms.transform(df_scaled_mms[["Maths", "English", "Science"]])
df_scaled_mms[["Maths_scaled_MinMaxScaler", "English_scaled_MinMaxScaler", "Science_scaled_MinMaxScaler"]] = scaled
df_scaled_mms

#### Exercise 8: Features correlation

**Data Correlation:** Is a way to understand the relationship between multiple variables and attributes in your dataset. Using Correlation, you can get some insights such as:
One or multiple attributes depend on another attribute or a cause for another attribute.
One or multiple attributes are associated with other attributes.

In [ ]:
# Correlation between features
df_scaled_sc.corr()

In [ ]:
# Heatmap of correlation matrix
import seaborn as sns
sns.heatmap(df_scaled_sc.corr())

In [ ]:
# Change the marks to 35 if it is below 35 for all three subjects
df = df_filled[["Maths", "English", "Science"]]
# Marks below 35
df.mask(df < 35)

In [ ]:
# Assign marks
df.mask(df < 35, 35)

To know more about df.mask() operation, click [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mask.html).