<a href="https://colab.research.google.com/github/manianls/ADSMI/blob/main/PythonFundamentals/PythonReview20211023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Euler Problem
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
LIMIT = 1000
n, total = 3,0
while n < LIMIT:
    if n % 3 == 0 or n % 5 == 0:
        total += n
    n += 1

In [ ]:
print (total)

233168

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

In [ ]:
LIMIT = 1000
n, total = 1,0
while n < LIMIT: 
    if select(n):
        total += n
    n += 1

In [ ]:
print(total)

233168

In [ ]:
!python --version

Python 3.7.12

In [ ]:
def pick(n):
    return n % 3 == 0 or n % 5 == 0

# Range

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(6,17))

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
list(range(4,19,3))

[4, 7, 10, 13, 16]

In [ ]:
def euler00(LIMIT = 1000):
    m3 = range(3,LIMIT,3)
    m5 = range(5, LIMIT,5)
    m15 = range(15, LIMIT, 15)
    return sum(m3) + sum(m5) - sum(m15)

In [ ]:
euler00()

233168

In [14]:
euler00(10)

23

In [15]:
def euler01(LIMIT = 1000):
    return sum(set(range(3, LIMIT, 3)) | set(range(5, LIMIT, 5)))

# "|" represents union of two sets

In [17]:
print(euler01(10))

23

In [32]:
def is_perfect_cube(n):
    n = abs(n)
    r = 0
    while r * r* r < n:
        r += 1
    return r* r * r == n

In [33]:
is_perfect_cube(1000)

True

In [42]:
def ceil_cube_root(n):
    n = abs(n)
    r = 0
    while r * r* r < n:
        r += 1
    return r

In [43]:
ceil_cube_root(28)

4

In [58]:
def all_digits_even(n):
    while n > 0:
        if n % 2 == 1:
            return False
        n //= 10
    return True

In [60]:
all_digits_even(446)

True

In [62]:
def all_digits_even1(n: int) -> bool:
    while n > 0:
        if n % 2 == 1:
            return False
        n //= 10
    return True

In [63]:
all_digits_even1(446)

True