<a href="https://colab.research.google.com/github/manianls/ADSMI/blob/main/PythonFundamentals/PythonReview20211024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More Lists, Tuples, Strings, FP
## Of course problems

In [ ]:
p = [2, 3, 5, 7, 11, 13, 17, 19]

**while** repeat a computation until something happens

**for** systematically go through the elements of a collection, carrying out a computation with each element

In [ ]:
for n in p:
    print(n)

In [ ]:
for n in p:
    print(n, end = " ")

In [ ]:
for n in p:
    print(n, end = "X+Y")

In [ ]:
for n in p:
    print(n, n * n, n * 2, end = " " , sep = ",")

In [ ]:
for n in p:
    print(n, n * n, n * 2, sep = ",", end = " ")

In [ ]:
for n in p:
    print(n, n * n, n * 2, sep = ",", end = ",")



A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99.

Find the largest palindrome made from the product of two 3-digit numbers.

In [ ]:
START, LIMIT = 100, 1000
for a in range(START, LIMIT):
    for b in range(START, LIMIT):
        # code executed (LIMIT-START) * (LIMIT-START) times
        pass

In [ ]:
def reverse(n: int) -> int:
    rev = 0
    while n > 0:
        rev = rev * 10 + n % 10
        n //= 10
    return rev

In [ ]:
"able was I ere I saw elba"

In [ ]:
def reverse1(n: int) -> int:
    return int(str(n)[::-1])

difference between print(x) and x

In [ ]:
str(19)

In [ ]:
print(str(19))

In [ ]:
print(19)

In [ ]:
def is_palindrome(n: int) -> bool:
    return n == reverse(n)

In [ ]:
def euler004(START = 100, LIMIT = 1000):
    palindromes = []
    for a in range(START, LIMIT):
        for b in range(START, LIMIT):
            # code executed (LIMIT-START) * (LIMIT-START) times
            n = a * b
            if is_palindrome(n):
                palindromes.append(n)
    return max(palindromes)

In [ ]:
print(euler004(START=10, LIMIT=100))

In [ ]:
print(euler004())

In [ ]:
def euler004(START = 100, LIMIT = 1000):
    palindromes = []
    for a in range(START, LIMIT):
        for b in range(a, LIMIT):
            # code executed ((LIMIT-START) * (LIMIT-START))/2 times
            n = a * b
            if is_palindrome(n):
                palindromes.append(n)
    return max(palindromes)

In [ ]:
def antares(n):
    x = []
    while n > 0:
        x.insert(0, n % 10)
        n //= 10
    return x

In [ ]:
def num_to_digits(n: int) -> [int]:
    digits = []
    while n > 0:
        digits.insert(0, n % 10)
        n //= 10
    return digits

In [ ]:
num_to_digits(1203)

In [ ]:
def betelgeuse(n):
    return sorted(num_to_digits(n), reverse = True)

In [ ]:
betelgeuse(1729)

In [ ]:
def digits_to_num(ds: [int]) -> int:
    num = 0
    for d in ds:
        num = num * 10 + d
    return num

In [ ]:
digits_to_num([1, 3, 7])

In [ ]:
def largest(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n), reverse=True))

In [ ]:
largest(1729)

In [ ]:
def smallest(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n)))

In [ ]:
smallest(1729)

# Kaprekars constant

In [ ]:
def num_to_digits(n: int) -> [int]:
    digits = []
    while n > 0:
        digits.insert(0, n % 10)
        n //= 10
    return digits
def digits_to_num(ds: [int]) -> int:
    num = 0
    for d in ds:
        num = num * 10 + d
    return num

def largest(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n), reverse=True))
def smallest(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n)))

def next_kaprekar(n: int) -> int:
    return largest(n) - smallest(n)
    
def kaprekar_seq(n: int) -> [int]:
    k = next_kaprekar(n)
    if k == n:
        return [n]
    else:
        return [n] + kaprekar_seq(k)

In [ ]:
kaprekar_seq(1729)

In [ ]:
kaprekar_seq(145)

## Tuples

In [ ]:
t = (4, 5)

In [ ]:
t[0]

In [ ]:
t[1]

In [ ]:
len(t)

In [ ]:
mut = [4, 5]

In [ ]:
mut.append(6)

In [ ]:
mut

In [ ]:
mut.append(-2)

In [ ]:
mut

In [ ]:
mut.sort()

In [ ]:
mut

In [ ]:
t = (4, -2, 6, 5)

In [ ]:
t.append(7)

In [ ]:
t.sort()

In [ ]:
tt = 7, 8

In [ ]:
type(tt)

In [ ]:
tt

In [ ]:
print(tt)

In [ ]:
n, total = 1, 0

In [ ]:
alpha, beta = 17, 32

In [ ]:
alpha, beta = beta, alpha

In [ ]:
alpha

In [ ]:
beta

In [ ]:
def mulf(a: int) -> (int, int):
    return a, a * a + 2

In [ ]:
x = mulf(7)

In [ ]:
x[0]

In [ ]:
x[1]

In [ ]:
p, q = mulf(7)

In [ ]:
p

In [ ]:
q

In [ ]:
type(x)

In [ ]:
def untuple(x):
    if type(x) == tuple:
        return x[1]
    else:
        return x

The above is **BAD** idea. Should not be used

In [ ]:
a, b = 3, 7, 8

In [ ]:
a, b, c = 3, 7

In [ ]:
t1 = (1, 2)

In [ ]:
t2 = ("a", "b")

In [ ]:
t1 + t2

In [ ]:
t1

In [ ]:
t2

In [ ]:
id(t1)

In [ ]:
id(t2)

In [ ]:
t1 = t1 + t2

In [ ]:
t1

In [ ]:
id(t1)

*We are not going into the intricacies of mutability and immutability of tuples* and strings

https://pythontutor.com/visualize.html#mode=edit

For visualizing python code execution step by step

# Strings

In [ ]:
s1 = 'Hello World'

In [ ]:
s2 = "Hello World"

In [ ]:
alpha = "He said I'm hungry"

In [ ]:
beta = 'He explained, "I am trying to cross the ocean", in a soft voice'

In [ ]:
len(alpha)

In [ ]:
alpha[3]

In [ ]:
alpha[4:12]

In [ ]:
beta[3:17:3]

In [ ]:
alpha[0] = 'A'

In [ ]:
for ch in s1:
    print(ch, end = ',')

In [ ]:
s1

In [ ]:
s1 = s1 + " Python"

In [ ]:
s1

In [ ]:
s3 = """Long long ago, in a galaxy far far away
the entire galaxy was in a turmoil. The empire was fighting
against the rebels led by General M'Bako. His motto was
"Onward and onward". He was a fierce warrior."""

In [ ]:
print(s3)

In [ ]:
s3

In [ ]:
def reverse(n: int) -> int:
    '''Reverses the digits of an integer and
    returns a new integer. Assumes that n is positive'''
    rev = 0
    while n > 0:
        rev = rev * 10 + n % 10
        n //= 10
    return rev

In [ ]:
reverse?

In [ ]:
abs?

In [ ]:
reverse.__doc__

String methods are here:

https://docs.python.org/3.7/library/stdtypes.html#text-sequence-type-str

In [ ]:
a = "Hello"
b = "World"

In [ ]:
ab = a + b

In [ ]:
print(ab)

In [ ]:
''.join(["Hello", "World", "Python"])

In [ ]:
' '.join(["Hello", "World", "Python"])

In [ ]:
'+'.join(["Hello", "World", "Python"])

In [ ]:
'ka '.join(["Hello", "World", "Python"])

In [ ]:
hwp = "Hello! World of Python welcomes you"

In [ ]:
hwp.lower()

In [ ]:
hwp.upper()

In [ ]:
hwp.lower().title()

In [ ]:
hwp.endswith("ou")

In [ ]:
hwp.startswith("HELLO")

In [ ]:
hwp.upper().startswith("HELL")

In [ ]:
h = "Hello"

In [ ]:
5 * h

In [ ]:
5 * (h + ' ')

In [ ]:
print(hwp)

In [ ]:
hwp.split()

In [ ]:
5 * [1, 2]

In [ ]:
hwpss = '''Hello!         World \n of Python         Welcomes you'''

In [ ]:
hwpss.split()

In [ ]:
hwpss.split(' ')

In [ ]:
sorted("hello")

In [ ]:
''.join(sorted('hello'))

Write a function that checks if two strings are anagrams of each other

In [ ]:
'   yes  '.strip()

In [ ]:
'   ye  s    '.strip()

In [ ]:
'hello world'.replace('l', 'p')

In [ ]:
'hello world'.replace('l', '')

In [ ]:
hwpss.replace(' ', '')

In [ ]:
def is_anagram(s: str, t: str) -> bool:
    '''Checks if the two given strings s and t are anagrams of
    each other. Case sensitive'''
    return sorted(s) == sorted(t)

In [ ]:
def is_anagram(s: str, t: str, ignore_case = False) -> bool:
    '''Checks if the two given strings s and t are anagrams of
    each other.'''
    if ignore_case:
        s = s.upper()
        t = t.upper()
    return sorted(s) == sorted(t)

ter = 7 if len(hwp) > 10 else 10

ter = len(hwp) > 10 ? 7: 10

54 -> 27 -> 82 -> 41 -> 124 -> 62 -> 31 -> 94 -> 47 -> 142 -> 71 -> 214 -> 107 -> 322 -> 161 -> 484 -> 242 -> 121 -> 364 -> 182 -> 91 -> 274 -> 137 -> 412 -> 206 -> 103 -> 310 -> 155 -> 466 -> 233 -> 700 -> 350 -> 175 -> .....

7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1

[7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

In [ ]:
def collatz(n: int) -> [int]:
    '''Generate the collatz sequence starting with n
    and ending in the first occurrence of 4, 2, 1'''
    def next_collatz(n: int) -> int:
        return n//2 if n % 2 == 0 else 3 * n + 1
    if n == 4:
        return [4, 2, 1]
    return [n] + collatz(next_collatz(n))

In [ ]:
print(collatz(7))

In [ ]:
print(collatz(2))

In [ ]:
print(collatz(1))

In [ ]:
next_collatz(7)

In [ ]:
def collatz_1(n: int) -> [int]:
    ''' Non recursive'''
    seq = []
    while n != 4:
        seq.append(n)
        n = n // 2 if n % 2 == 0 else 3 * n + 1
    return seq + [4, 2, 1]

In [ ]:
def collatz_2(n: int) -> [int]:
    ''' inner functions not restricted to recusion'''
    def next_collatz(k: int) -> int:
        if k % 2 == 0:
            return k // 2
        else:
            return 3 * k + 1
    seq = []
    while n != 4:
        seq.append(n)
        n = next_collatz(n)
    return seq + [4, 2, 1]

In [ ]:
collatz_2(7)

### Euler Problem 1
#### Using filter()

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
def select(p: int) -> bool:
    return p % 3 == 0 or p % 5 == 0

In [ ]:
def euler001_A(LIMIT = 1000):
    return sum(filter(select, range(1, LIMIT)))

In [ ]:
euler001_A(10)

In [ ]:
euler001_A()

In [ ]:
filter?

In [ ]:
def even(x):
    return x % 2 == 0

In [ ]:
list(filter(even, [1, 2, 3, 4, 6, 7, 9]))

In [ ]:
def mul3(n: int) -> bool:
    return n % 3 == 0

In [ ]:
list(filter(mul3, [1, 2, 3, 4, 6, 7, 9]))

In [ ]:
def myfilter(f, xs):
    b = []
    for x in xs:
        if f(x):
            b.append(x)
    return b

In [ ]:
myfilter(mul3,[1, 2, 3, 4, 6, 7, 9])

### map() function

map(f, c) -> [f(c[0]), f(c[1]), ... f(c[-1])]

In [ ]:
even(7)

In [ ]:
list(map(even, [1, 2, 4, 6, 3, 9, 8]))

In [ ]:
def sqplus(n: int) -> int:
    return n * n + 1

In [ ]:
list(map(sqplus, [1, 2, 4, 6, 3, 9, 8]))

In [ ]:
def next_collatz(n):
    return n//2 if n % 2 == 0 else 3 * n + 1

In [ ]:
list(map(next_collatz, [1, 2, 4, 6, 3, 9, 8]))

In [ ]:
c = [7, 8, 9, 12, "H"]

In [ ]:
c[0]

In [ ]:
c[1]

$S' = \{\phi(x) | x \in S\}$ is the same as 

$map(\phi, S)$ and 

$[\phi(x)~for~x~in~S]$

-------------------

$S' = \{x| x \in S, \pi(x)\}$ is the same as 

$filter(\pi, S)$

$[ch~for~ch~in~S~if \pi(ch)]$

-------------------------

$S' = \{\phi(x) | x \in S, \pi(x)\}$ is the same as 

$map(\phi, filter(\pi, S))$

$[\phi(a)~for~a~in~S~if~\pi(a)]$

In [ ]:
S =  [1, 2, 4, 6, 3, 9, 8]

def pi(a):
    return a % 2 == 0

def phi(b):
    return b * b + 1

In [ ]:
list(filter(pi, S))

In [ ]:
list(map(phi, S))

In [ ]:
list(map(phi, filter(pi, S)))

In [ ]:
[phi(x) for x in S if pi(x)]

In [ ]:
[sqplus(k) for k in S if even(k)]

### Euler Problem 1
#### Using list comprehensions

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
def select(w: int) -> bool:
    return w % 3 == 0 or w % 5 == 0

In [ ]:
def euler001_LC(LIMIT = 1000):
    return sum([x for x in range(1, LIMIT) if select(x)])

In [ ]:
def euler001_LC2(LIMIT = 1000):
    return sum([x for x in range(1, LIMIT) if x % 3 == 0 or x % 5 == 0])

In [ ]:
euler001_LC(10)

In [ ]:
euler001_LC()

In [ ]:
def num2digits(n: int) -> [int]:
    ds = []
    while n > 0:
        ds.insert(0, n % 10)
        n //= 10
    return ds

def get_digits(n: int) -> [int] :
    return [int(ch) for ch in str(n)]

def digits(n: int) -> int:
    return list(map(int, str(n)))

In [ ]:
str(1729)

In [ ]:
deneb(1729)

In [ ]:
def all_digits_even(n: int) -> bool:
    while n > 0:
        if n % 2 == 1:
            return False
        n //= 10
    return True

In [ ]:
def all_even(n: int) -> bool:
    return all([int(x) % 2 == 0 for x in str(n)])

In [ ]:
all([int(x) % 2 == 0 for x in str(1729)])

In [ ]:
all([int(x) % 2 == 0 for x in str(2688)])

In [ ]:
def is_ascending(n: int) -> bool:
    return int(''.join(sorted(str(n)))) == n

In [ ]:
sorted(str(126))

In [ ]:
''.join(sorted(str(126)))

In [ ]:
int(''.join(sorted(str(126))))

In [ ]:
def isAscending(k: int) -> bool:
    if k < 10:
        return True
    k, ld = k//10, k % 10
    if ld <= k % 10:
        return False
    return isAscending(k)

In [ ]:
def is_Ascending(n: int) -> bool:
    while n > 9:
        if n % 10 <= (n // 10) % 10:
            return False
        n //= 10
    return True

In [ ]:
def is_increasing(n: int) -> bool:
    s = str(n)
    return all([a < b for (a, b) in zip(s, s[1:])])

In [ ]:
n = 1729

In [ ]:
s = str(n)

In [ ]:
list(zip(s, s[1:]))

In [ ]:
list(zip([1, 2, 3], ['a', 'b', 'c']))

In [ ]:
is_increasing(1729)

In [ ]:
is_increasing(1289)

In [ ]:
'a' < 'b'

In [ ]:
'0' < '1'