<a href="https://colab.research.google.com/github/manianls/ADSMI/blob/main/PythonFundamentals/PythonReview20211023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Euler Problem
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
LIMIT = 1000
n, total = 3,0
while n < LIMIT:
    if n % 3 == 0 or n % 5 == 0:
        total += n
    n += 1

In [ ]:
print (total)

233168

In [1]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

In [2]:
LIMIT = 1000
n, total = 1,0
while n < LIMIT: 
    if select(n):
        total += n
    n += 1

In [3]:
print(total)

233168

In [4]:
!python --version

Python 3.7.12

In [5]:
def pick(n):
    return n % 3 == 0 or n % 5 == 0

# Range

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(6,17))

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [9]:
list(range(4,19,3))

[4, 7, 10, 13, 16]

In [12]:
def euler00(LIMIT = 1000):
    m3 = range(3,LIMIT,3)
    m5 = range(5, LIMIT,5)
    m15 = range(15, LIMIT, 15)
    return sum(m3) + sum(m5) - sum(m15)

In [13]:
euler00()

233168