<a href="https://colab.research.google.com/github/manianls/ADSMI/blob/main/PythonFundamentals/PythonReview20211023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Euler Problem
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [3]:
LIMIT = 1000
n, total = 3,0
while n < LIMIT:
    if n % 3 == 0 or n % 5 == 0:
        total += n
    n += 1

In [4]:
print (total)

233168